* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow-x: auto;
    white-space: nowrap;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 30px;
}

.site-description {
    margin: 10px 0;
    font-size: 18px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.cart-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.cart-icon img {
    width: 30px;
    height: auto;
    vertical-align: middle;
}

.cart-counter {
    background-color: #ff6600;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    top: -5px;
    right: -5px;
}

section {
    margin-bottom: 50px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.product {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.product img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.product img:hover {
    transform: scale(1.05);
}

.product h5 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 18px;
}

.product p.price {
    text-align: center;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
    font-size: 16px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}
.about-content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-content h5 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.about-content p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-content p:last-child {
    margin-bottom: 0;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.container {
    width: 80%;
    margin: auto;
}

h4 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

ul li {
    margin-bottom: 5px;
}

ul li:before {
    content: "\2022"; /* Utilisation d'un point pour les puces */
    color: #fff;
    margin-right: 10px;
}

p:last-child {
    margin-bottom: 0;
}

p a {
    color: #fff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Pour s'assurer que l'en-tête est au-dessus du contenu de la page */
    padding: 10px 0; /* Ajoutez un peu de marge intérieure si nécessaire */
}

.site-menu {
    display: flex;
    align-items: center;
    max-width: 1200px; /* Pour limiter la largeur du contenu de l'en-tête */
    margin: 0 auto; /* Pour centrer le contenu */
}

.site-menu img {
    margin-right: 10px; /* Espace entre l'image et le titre */
}