* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.site-description {
    margin: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.cart-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.cart-icon img {
    width: 30px;
    height: auto;
    vertical-align: middle;
}

.cart-counter {
    background-color: #ff6600;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    top: -5px;
    right: -5px;
}

section {
    margin-bottom: 50px;
}

h2 {
    color: #333;
}

.product {
    width: 28%; /* Ajustement de la largeur pour 4 produits par ligne */
    margin-right: 5%; /* Espace entre chaque produit */
    display: inline-block;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.product:last-child {
    margin-right: 0; /* Suppression de la marge à droite pour le dernier produit */
}

.product img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}

.product h5 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.product p.price {
    text-align: center;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

.product button.btn {
    display: block;
    margin: auto;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product button.btn:hover {
    background-color: #2980b9;
}
h4 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

ul li {
    margin-bottom: 5px;
}

ul li:before {
    content: "\2022"; /* Utilisation d'un point pour les puces */
    color: #fff;
    margin-right: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Pour s'assurer que l'en-tête est au-dessus du contenu de la page */
    padding: 10px 0; /* Ajoutez un peu de marge intérieure si nécessaire */
}

.site-menu {
    display: flex;
    align-items: center;
    max-width: 1200px; /* Pour limiter la largeur du contenu de l'en-tête */
    margin: 0 auto; /* Pour centrer le contenu */
}

.site-menu img {
    margin-right: 10px; /* Espace entre l'image et le titre */
}